@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GERAL */
::-webkit-scrollbar { 
  display: none; 
}

body {
    background-color: #fce7f3;
}

body.tema-escuro {
    background-color: #17121c;
}

body.tema-escuro .toggle-thumb {
    background-color: #251c2d;
}


/* HEADER */
header {
    border-bottom: 2px solid #c084fc2e;
    display: flex;
    gap: 930px;
}

header h1 {
    font-family: 'Poppins';
    font-size: 29px;
    margin-left: 40px;
}

header h1 .titulo-roxo {
    color: #a855f7;
}

header .icon {
    width: 28px;      
    height: 28px;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

header .abas {
    display: flex;
    gap: 100px;
}

header .icone {
    position: relative;
    display: flex;
    width: 33px;      
    height: 33px;
    padding-top: 25px;
}


/* BOTÃO DE TEMA CLARO / TEMA ESCURO */
#mudar-tema {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.toggle-thumb .tema-escuro  {
    border: 0.5px solid #a855f7;
}

.toggle-thumb {  
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    width: 44px;      
    height: 44px;     
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

.tema-escuro {
    left: 10px;
    color: #ffffff;
}

.icone-sol {
    stroke: #a855f7;
    opacity: 1;
    display: none;
}

.icone-lua {
    stroke: #a855f7;
    display: block;
}

#mudar-tema.noite .icone-lua {
    display: none;
}

#mudar-tema.noite .icone-sol {
    display: block;
}


/* CARD */
.card {
    width: 750px;
    background: linear-gradient( to right,
        rgba(204, 170, 234, 0.76) 0%,
        rgba(217, 88, 153, 0.536) 100%
    );
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    border: 1px solid #c084fc;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card .base-icone {
    border-radius: 50%;
    background-color: rgb(203, 166, 235);
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    width: 50px;      
    height: 50px;     
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

.card .icone-cadeado {
    width: 28px;      
    height: 28px;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

.card h2 {
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 6px;
    color: #490a83;
}

.card a {
    border-radius: 19px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,
        rgba(255, 0, 126, 1) 0%,
        rgba(134, 0, 255, 1) 100%
    );
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#posts-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 25px;
    padding: 30px;
    justify-content: center;
}

.post {
    width: 320px;
    background: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.fotos-post {
    position: relative;
    height: 300px;
}

.fotos-post img {
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
}

.foto-selfie-post {
    width: 75%;
    height: 240px;
    left: 10%;
    top: 10px;
    z-index: 1;
}

.foto-ambiente-post {
    width: 45%;
    height: 130px;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: 4px solid white;
}

.descricao-post {
    color: #4214be;
    font-size: 16px;
    margin-top: 15px;
}

.data-post {
    color: #999;
    font-size: 12px;
}

.info-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.info-esquerda {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.usuario-post.tema-escuro p  {
    color: #17121c;
}

.btn-apagar {
    margin-top: 14px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
    flex-shrink: 0;
}

.btn-apagar:hover {
    opacity: 1;
}